@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
  background: #042444;
  padding: 3px;
  font-family: Raleway, Arial, sans-serif;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}
