<div class="container color-dark">
  <div class="col">
    <p>Add a bucket list items</p>
  </div>
  <div class="col">
    <p>Your bucket list</p>
  </div>
</div>
<div class="container color-light">
  <div class="sm">
    <p>Use form below to add items to bucket list</p>

    <form>
      <input type="text" name="item" class="txt" placeholder="Life goal">
      <input type="submit" class="btn" value="Add item">
    </form>
  </div>
  <div class="col">
    <p class="life-container">
      I want to be an outstanding js programmer.
    </p>
  </div>
</div>
